* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-nunito:var(--font-nunito);
}

body {
  font-family: var(--font-nunito), sans-serif;
}

.t-lg {
    font-weight: 900;
    font-size: 24px;
}

.t-md { 
    font-weight: 400;
    font-size: 16px;
}