* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-nunito:var(--font-nunito);
}

body {
  font-family: var(--font-nunito), sans-serif;
}

a {
    all: unset;
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-xlg {
    font-weight: 900;
    font-size: 24px;
}

.t-md { 
    font-weight: 400;
    font-size: 16px;
}

.t-lg {
    font-weight: 800;
    font-size: 36px;
}

.t-lg-40 {
    font-weight: 800;
    font-size: 40px;
}

.t-md-20 {
    font-weight: 400;
    font-size: 20px;
}

.t-md-16 {
    font-weight: 400;
    font-size: 14px;
}

.t-lg-22 {
    font-weight: 700;
    font-size: 22px;
}

.t-lg-20 {
    font-weight: 700;
    font-size: 20px;
}

.t-lg-22 {
    font-weight: 700;
    font-size: 22px;
}

.t-md-16 {
    font-weight: 400;
    font-size: 16px;
}

.t-lg-16 {
    font-weight: 700;
    font-size: 16px;
}